* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#container {
    width: 640px;
    margin: auto;
}

#publisherID {
    width: 100%;
    margin: 10px 0px;
    padding: 5px;
}

#publisherSection, #subscriberSection {
    width: 50%;
    float: left;
    text-align: center;
}

#publisherButton, #subscriberButton {
    margin: 10px 0px;
    padding: 10px;
}

video {
    width: 100%;
    height: 240px;
    background-color: black;
}

.redPlaceholder::placeholder {
    color: red;
 }